* {
    margin: 0;
    padding: 0;
}

span {
    font-size: 26px;
    font-family: sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.cabecalho-com-logo {
    display: flex;
    justify-content: center;
    background-color: #ff914d;
    max-height: 100px;
}

.imagem-logo {
    display: grid;
    justify-content: center;
}

.container {
    display: grid;
    justify-content: center;
    background-color: #ff914d;
    color: white;
}

#texto-como-nasceu-F4Bank {
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    padding: 25px;
}

.texto-missao-visao {
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    padding: 25px;
}

.texto-h3 {
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    padding: 25px;
}

.texto-abra-conta {
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
    color: black;
    box-sizing: border-box;
    border: 1px solid black;
    width: 25%;
    margin-left: 450px;
    margin-top: 30px;
    margin-bottom: 40px;
}